{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% for news in news %}
        <p>{{ news.title }}</p>
    {% endfor %}
{% endblock %}

